body {
    background-color: #ffffff;
    font-family: "Montserrat", sans-serif;
}


#grid-container {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    padding: 1rem;
}

header,
main,
footer {
    padding: 0.5rem;
}

header {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.5rem;
    grid-area: header;

}

header nav {
    display: flex;
    justify-content: space-between;
    position: relative;
}

header nav div {
    display: flex;
    gap: 1rem;
}

#logo {
    text-decoration: none;
    color: black;
}

.navbar {
    display: none;
    padding-right: 40px;
    justify-content: center;


}

.search-section {
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: end;

}

.sale-section h1 {
    font-size: 50px;

}


.responsive {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 40px;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 0.5rem;
    width: 100%;
}

.responsive a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: inline-block;
    padding: 1rem;
}

main {
    grid-area: main;
}

main section img {
    width: 100%;
}

#text1 {
    font-size: 30px;
    max-width: 650px;
    max-height: 250px;
}


footer {
    grid-area: footer;
}

@media only screen and (min-width:600px) {
    .navbar {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        list-style: none;
        margin: 0;
    }

    #ham,
    .fa-solid .fa-user {
        display: none;
    }

    .flex-section {
        display: flex;
        flex-direction: row;
    }

    .flex-section img {
        width: 50%;
    }

    .flex-section section {
        width: 50%;
        text-align: center;
    }

    .right img {
        order: 1;
    }

}


.price-section {
    text-align: right;
}